# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyTorch Model weights
# Removed rule so model is tracked by Git, it is 85MB (under 100MB limit)

# Dataset
dataset/

# Virtual environments
venv/
env/
.env/

# IDE files
.vscode/
.idea/

# Other
test_img.jpg
