# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyTorch Model weights
Models/*.pth

# Dataset
dataset/

# Virtual environments
venv/
env/
.env/

# IDE files
.vscode/
.idea/

# Other
test_img.jpg
